<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89598794677-qjaqf8b4rdt3eu5u9nf1d4rlbd0k5pqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89598794677-qjaqf8b4rdt3eu5u9nf1d4rlbd0k5pqs</string>
	<key>API_KEY</key>
	<string>AIzaSyBJLGxdAWHh2YCTg6bWdG2sDUL8AijKk1I</string>
	<key>GCM_SENDER_ID</key>
	<string>89598794677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comfunny.FirebaseScratch</string>
	<key>PROJECT_ID</key>
	<string>fir-scratch-3ec34</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-scratch-3ec34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89598794677:ios:4293549b9931c8fde057fc</string>
</dict>
</plist>